<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlI4IXP-zvHd7XsDzv2fvBjfw2fBgYlPI</string>
	<key>GCM_SENDER_ID</key>
	<string>162802603329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teachapp.py</string>
	<key>PROJECT_ID</key>
	<string>teachapp-f5921</string>
	<key>STORAGE_BUCKET</key>
	<string>teachapp-f5921.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162802603329:ios:9cdcf34f3ef1c5503a7dc0</string>
	<key>DATABASE_URL</key>
	<string>https://teachapp-f5921-default-rtdb.firebaseio.com</string>
</dict>
</plist>